html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fefefe;
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: 6vw;
  color: #fefefe;
  font-style: italic;
  background-color: #222;
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: space-between;
}

.kikker {
  width: 90%;
  height: 130px;
}

aside {
  width: 20vw;
  background-color: skyblue;
  text-transform: uppercase;
  color: #fefefe;
  padding: 20px 0 20px 20px;
}

aside p {
  margin: 0;
  font-size: 2vw;
  margin-bottom: 12px;
}

footer {
  padding: 20px;
  background-color: #222;
  display: flex;
}

footer p {
  color: #fefefe;
  font-size: 1.5vw;
  margin: 0;
}

footer a {
  font-size: 1.5vw;
  color: #fefefe;
  margin-left: 20px;
}
